* {
  margin: 0;
  padding: 0;
  box-sizing: content-box;
}

:root {
  --main: #f5f5f5;
  --secondary: #8f8f8f;
}

abbr {
  border: none;
  text-decoration: none;
  padding: 0.5rem;
}

.calendarContainer {
  width: 350px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
}

.monthPickerContainer {
  display: flex;
  justify-content: center;
}

.calendarTableContainer {
  background-color: var(--main);
  border: 1px solid var(--secondary);
  padding: 0.5rem;
}

.calendarCells {
  border: none;
  background-color: var(--main);
  width: 100%;
}

.disabled {
  background-color: var(--main);
}
