/* General CSS for main elements and variables */
* {
  margin: 0;
  padding: 0;
  box-sizing: content-box;
}

body {
  padding: 50px;
}

:root {
  --main: #f5f5f5;
  --secondary: #2b4450;
  --third: #871111;
}

abbr {
  border: none;
  text-decoration: none;
  padding: 8px;
  color: var(--third);
}

h2 {
  padding: 8px;
  display: inline-block;
  color: var(--secondary);
}

/* CSS for the input field */
.label {
  font-style: italic;
  font-size: smaller;
}

.iconButton { 
  background: none;
  position: absolute;
  padding: 8px; 
  border: none;
  color: var(--secondary);
  text-align: center; 
} 

.inputField { 
  padding: 10px 10px 10px 36px; 
  text-align: left; 
  margin-bottom: 12px;
} 


/* CSS for the calendar table and the elements within */
.calendarContainer {
  background-color: var(--main);
  display: inline-block;
  position: absolute;
  text-align: center;
  box-shadow: 0px 1px 9px 3px rgba(133, 130, 133, 1);
  -webkit-box-shadow: 0px 1px 9px 3px rgba(133, 130, 133, 1);
  -moz-box-shadow: 0px 1px 9px 3px rgba(133, 130, 133, 1);
  border-radius: 5px;
}

.calendarTableContainer {
  display: inline-table;
  background-color: var(--main);
  border-top: solid var(--secondary) 2px;
  border-radius: 0 0 5px 5px;
  padding: 12px 12px 0px 12px;
}

.calendarCells {
  width: 40px;
  height: 40px;
  border: none;
  background-color: var(--main);
  color: var(--secondary);
}

.monthSelectionButtons {
  width: 60px;
  border: none;
  line-height: 20px;
  padding: 12px;
  color: var(--third);
  background-color: var(--main);
  font-size: medium;
  text-decoration: underline;
}

.previousButton {
  float: left;
}
.previousButton:hover {
  color: var(--main);
  background-color: var(--third);
}

.nextButton {
  float: right;
}
.nextButton:hover {
  color: var(--main);
  background-color: var(--third);
}

.disabled {
  background-color: var(--main);
}

.clickedDateButton {
  background-color: var(--secondary);
  border-radius: 50%;
  color: var(--main);
}

.hidden {
  display: none;
}


